body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  color: #4ea0ae;
}

/* navbar section */

.navbar {
  background-color: #00adb5;
}

.brand-image {
  height: 30px;
  width: 30px;
}

.nav-item {
  margin: 0 7px;
}

/* home-container section */

#home-container {
  background-image: url(images/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px;
}

.title-name {
  color: #006a71;
  font-family: "Gilda Display", serif;
  font-size: 5rem;
  font-weight: lighter;
}

.sub-title {
  color: #4ea0ae;
  font-size: 1.3rem;
  padding-top: 10px;
}

/* about me */

#about-me {
  padding: 100px;
}

.hello {
  padding-top: 3%;
}

.about-me-des {
  line-height: 1.5;
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
  padding: 3% 0%;
}

/* services section */

#services {
  background-color: #bbe1fa;
  padding: 100px 100px 150px;
}

.main-service {
  color: #006a71;
  font-size: 3.5rem;
}

.services {
  text-align: left;
  padding: 100px 50px 50px;
  width: 65%;
}

.move-to-left {
  position: relative;
  left: 300px;
}

.services-pic {
  border-radius: 100%;
  float: left;
  width: 25%;
  margin-right: 40px;
}

.service-des {
  font-size: 1.2rem;
  line-height: 1.5;
  padding-top: 10px;
}

/* contact me section */

#contact-me {
  padding: 100px 100px 75px;
}

.contact-head {
  color: #006a71;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.contact-des {
  line-height: 1.5;
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
}

.mail-id {
  color: #ffff;
}

.btn {
  margin: 50px;
}

.mail-icon {
  margin-right: 10px;
}

/* footer section */

#footer {
  background-color: #bbe1fa;
  padding: 50px;
}

.social-icon {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  /* home-container section */

  #home-container {
    max-height: 400px;
    padding: 50px 90px 100px 130px;
  }
  .title-name {
    font-size: 2.5rem;
  }

  .sub-title {
    font-size: 1rem;
    padding-top: 3px;
  }

  /* about me */

  #about-me {
    padding: 30px;
  }

  .hello {
    padding-top: 3%;
  }

  .about-me-des {
    line-height: 1.3;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
  /* services section */

  #services {
    padding: 50px 50px 20px;
  }

  .main-service {
    font-size: 2.5rem;
  }

  .services {
    padding: 10px 30px;
    width: 100%;
    margin: auto;
  }

  .move-to-left {
    left: 0;
  }

  .services-pic {
    clear: left;
    display: block;
    width: auto;
    text-align: center;
    margin: 50px;
  }

  /* contact me section */

  #contact-me {
    padding: 50px;
  }

  .contact-head {
    font-size: 2rem;
  }

  .contact-des {
    font-size: 1.2rem;
  }
}
